body{
  background-color:black;
}

.header-1{
  color:white;
  font-size:25px;
  float:center
  margin:0;
}


#basic-info{
  position: absolute;
  left:0px;
  color:black;
  bottom:360px;
  background-color:white;
  border: 10px solid #021a40 ;
  border-color: #f7def1;
  height:400px;
  
}



#about-me-p{
  text-align:center;
  position:fixed;
  bottom:-20px;
  left:370px;
  width:600px;
  height:345px;
  color:black;
  background-color:white;
  border:10px solid #021a40;
  border-color:#f7def1;


}


.favorites{
border:10px solid #021a40;
border-color:#f7def1;
background-color:white;
left:325px;
bottom:360px;
position:absolute;
font-color:black;
height:400px;
}


#image-1{
  position:fixed;
  bottom:0px;
  height:350px;
  left:0px;
  padding:1px;
  border:10px solid #021a40;
  border-color:#f7def1;;
  }



